DATABASE_URL="postgresql://postgres:postgres@localhost:5432/inzet?schema=public"
NEXT_PUBLIC_APP_URL="http://localhost:3000"
MAIL_FROM="Inzet <info@frii.nl>"
MAIL_ENVELOPE_FROM="info@frii.nl"
MAIL_MESSAGE_ID_DOMAIN="frii.nl"
SENDMAIL_PATH="/usr/sbin/sendmail"
SENDMAIL_IN_DEV="false"
SMTPHOST="mail:25"
