[Unit]
Description=Inzet vrijwilligersportaal
Requires=docker.service
After=docker.service network-online.target
Wants=network-online.target

[Service]
Type=oneshot
WorkingDirectory=__INZET_ROOT__
ExecStartPre=/usr/bin/docker compose -f __INZET_ROOT__/docker-compose.yml config -q
ExecStart=/usr/bin/docker compose -f __INZET_ROOT__/docker-compose.yml up -d --build
ExecReload=/usr/bin/docker compose -f __INZET_ROOT__/docker-compose.yml up -d --build
ExecStop=/usr/bin/docker compose -f __INZET_ROOT__/docker-compose.yml down
RemainAfterExit=yes
TimeoutStartSec=0

[Install]
WantedBy=multi-user.target
